*{
    padding: 0;
    margin: 0;
    font-family:  sans-serif;
    box-sizing: border-box;
}
body{
    color: rgb(233, 233, 233);
    background-color: rgb(25,24,28);
}
.App{
    width: 100%;
}

/*  Coin    */

table{
width: 70%;
margin: auto;
border-collapse: collapse;
margin-top: 50px;

}
.icon{
    width: 50px;
    
}
.Coin h1{
    font-weight: 400;
    font-size: 16px;
}
.coin-img{
    display: flex;
    align-items: center;
}
.coin-img h1{
    margin-left: 10px;
}
.coin-info{
    display: flex;
    
}

td,
th {
    text-align: left;
    padding: 8px;
  }
.Coin{
   
}
.green{
    color: rgba(20, 255, 78, 0.986);
}
.red{
    color: rgb(202, 0, 0);
}

/*   Search   */
.header{
    width: 100%;
    height: 10vh;
}
.search{
   display: flex;
   margin-top: 50px;
justify-content: center;
flex-direction: column;
align-items: center;}
.search-input{
margin-top: 15px;
    padding: 5px 20px;
}